.home {
  height: 100%;
  width: 100%;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin: 0px;
}

.conteiner {
  display: flex;
  height: 400px;
  justify-content: space-between;
}

.text {
  font-weight: 200;
  padding-left: 60px;
  width: 365px;
}

.text p {
  color: #8b8e9e;
  font-family: "Barlow", sans-serif;
}

.travel-to #tittle {
  padding-left: 50px;
}

#explore {
  align-items: flex-end;
  display: flex;
}

#explore img {
  height: auto;
  width: 390px;
  cursor: pointer;
}

@media (max-width: 430px) {
  .navbar {
    flex-direction: column;
  }

  .home {
    background-image: url(/docs/assets/home/background-home-mobile.jpg);
    background-size: 100vh;
  }

  .travel-to {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .travel-to #tittle {
    font-size: 22px;
    padding-left: 0px;
  }
  .text {
    font-weight: 200;
    padding-left: 0px;
    width: 365px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .text p {
    font-size: 26px;
    padding-left: 0px;
    color: #ffffffb1;
  }
  .conteiner {
    display: inline-block;
    height: 400px;
  }
  #explore {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  #explore img {
    height: auto;
    width: 250px;
    cursor: pointer;
  }
  .nav-links li {
    font-size: 19px;
    font-weight: 600;
  }
}
